{% extends 'users/base.html' %}
{% load static %}

{% block body %}
<body>
    <div class="grid place-items-center h-screen w-screen">
        <div class="bg-white shadow-md m-10 w-2/5 rounded px-8 pt-6 pb-8 mb-4">
            <div class="grid place-items-center mb-2">
                <h1>You have been logged out! Thank you for using Photo App.</h1>
                <p class="px-10 py-10"><a class="text-indigo-500" href="{% url 'users:login' %}">Return to login page</a></p>
            </div>
        </div>
    </div>
</body>
{% endblock %}